/* Geral */
body {
  scroll-behavior: smooth;
}

/* Bootstrap*/
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.bd-mode-toggle {
  z-index: 1500;
}

/* Navbar */
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

#btn_quemSomos,
#btn_servicos,
#btn_contato {
  cursor: pointer;
}

/* Seção Carrossel */
#carouselExampleCaptions {
  margin-top: 8vh;
  height: 75vh;
  overflow: hidden;
}

#carouselExampleCaptions .text-white {
  bottom: 0; 
  right: 10px; 
  position: absolute; 
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  text-align: left;
}

.carousel-caption h5 {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
}

.carousel-caption p {
  font-size: 1.5rem;
  max-width: 45vw;
  text-align: left;
}

.carousel-item img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.70);
}

/* Seção Valores da Empresa*/
.item-divider {
  padding-top: 8vh; 
  padding-bottom: 8vh;
}

.item-divider:hover {
  background-color: #f1f1f1;
  transition: 0.3s;
}

.item-divider p {
  font-size: 120%; 
  font-weight: bold; 
  color: #505050;
}

.values i {
  font-size: 250%; 
  color: #5c5c5c;
}

/* Seção Quem Somos*/
#quemSomos_texts .icon-arrow {
  color: rgb(13, 110, 253);
}

#check-list i {
  font-size: 150%; 
  color: green;
}

.image-half {
  height: 100vh;
  /* Tamanho da imagem */
  background-image: url('./images/quemSomos_img.jpg');
  /* Substitua pelo URL ou caminho local da sua imagem */
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}

/* Seção de Serviços*/
#servicos {
  opacity: 0;
}

.card-custom {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
}

.card-title {
  margin-top: 50px;
}

.card-body-custom {
  text-align: left;
}

.icon {
  font-size: 24px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#card1, #card2, #card3 {
  height: 500px;
}

#card_icon1, #card_icon2, #card_icon3 {
  transition: 0.8s;
  font-size: 150%;
}

#card1 img, #card2 img, #card3 img {
  height: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* Footer */
#footer i {
  color: #fff; 
  font-size: 2rem;
}

#footer a {
  text-decoration: underline #fff;
}

/* Responsividade */

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (max-width: 576px) {
  .image-half {
    height: 30vh;
    /* Tamanho da imagem */
    background-image: url('./images/quemSomos_img.jpg');
    /* Substitua pelo URL ou caminho local da sua imagem */
    background-size: cover;
    background-position: center;
    border-radius: 2px;
  }

  .carousel-caption {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
  }

  .carousel-caption h5 {
    font-size: 2.1rem;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
    max-width: none;
  }

  .carousel-item img {
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.70);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .image-half {
    height: 50vh;
    /* Tamanho da imagem */
    background-image: url('./images/quemSomos_img.jpg');
    /* Substitua pelo URL ou caminho local da sua imagem */
    background-size: cover;
    background-position: center;
    border-radius: 2px;
  }

  .carousel-caption {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
  }

  .carousel-caption h5 {
    font-size: 2.1rem;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
    max-width: none;
  }

  .carousel-item img {
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.70);
  }
}